.top{
    background-color: powderblue;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }
/* Style the header */
header {
  background-color: #046380;
  padding: 10px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
.headerValues{
  padding: 5px;
    margin: 5px;
}
 a{
     color: rgb(6, 13, 107);
     text-shadow: red;
     text-align: center;
     
 }



p{
    padding: 20px;
    margin: 15px;
}
* {
    box-sizing: border-box;
  }
/* Style the footer */
footer {
    
    color: azure;
    padding: 25px;
    text-align: center;
    background-color: #666;
    }
  
.links{
    width: 100%;
   float: left;
  padding: 15px;
    background: #ccc;
    border: brown;
}
form{
    width: 50%;
    padding: 15px;
}
  



.container{
  overflow: auto;
    display: flex;
    flex-wrap: wrap;
}
.container > div{
    
    background-color: rgb(185, 230, 102);
    padding: 20px;
    margin: 10px;
    width: 260px;
}

.pages{
  overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.pages > div{
  background-color: rgba(194, 140, 40, 0.911);
  color:black;
  padding: 20px;
  
  margin: 10px;
  width: 260px;
}
/*........................ dropdown...................*/

 /* Dropdown Button */
 .dropbtn {
    background-color: #3e8e41;
    color: white;
    padding: 20px;
    margin: 10px;
    width: 200px;

    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: static;
    display: inline-block;
    text-align: justify;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;} */


  
  

  
/*css for forms*/

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
input[type=checkbox]:checked + label{
  
  background-color: rgb(157, 218, 172);
  margin-right: 5px;
  }
input[type=checkbox]:checked + label + input{
  outline: solid rgb(0, 119, 255) 2px;
  float:right;  }

  input[type=checkbox]:checked +  label +textarea{
    float:right;  }

    input[type=label], input[type=text], textarea{
      padding: 5px;
      text-decoration: none;
      margin: 10px 20px;
    }

    input[type=checkbox]{
      margin: 4px 10px;
    }
    #txt{
      margin: 4px 10px;
    }
