.top{
    background-color: powderblue;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }
/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

 

p{
    padding: 20px;
    margin: 10px;
}
* {
    box-sizing: border-box;
  }
/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    }
  
.links{
    width: 100%;
   float: left;
  padding: 15px;
    background: #ccc;
    border: brown;
}
form{
    width: 50%;
    padding: 15px;
}
  


.container{
    display: flex;
    flex-wrap: wrap;
}
.container > div{
    
    background-color: rgb(185, 230, 102);
    padding: 20px;
    margin: 10px;
    width: 200px;
}


  
  

  

  
